# No pyc files
*.pyc
*.py.swp

# No files ending in ~
*~

# Removing other tex related files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# Adding ignore commands for some of the cpp code
*.swo
*.swp
*.png
